<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>VoteX</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div class="container" bis_skin_checked="1">
    <div class="row" bis_skin_checked="1">
        <div class="col-lg-10  col-md-12" bis_skin_checked="1">

            <div class="w-100 p-4 justify-content-center pb-4" bis_skin_checked="1">
                <h1 class="mt-5">VoterX</h1>
                <form class="mt-5 form-inline">
                    <h2>Register Voter</h2>
                    <div class="form-group mb-2" bis_skin_checked="1">
                        <label class="form-label" for="voter-address">Voter Address</label>
                        <input type="email" id="voter-address" class="form-control" placeholder="Voter Address">
                    </div>
                    <button onclick="registerVoter()" type="button" class="btn btn-success btn-lg btn-block mt-2">
                            Register
                        </button>
                </form>
                <div class="mt-5" bis_skin_checked="1">
                    <h2>Start Voting</h2>
                    <button onclick="startVoting()" type="button" class="btn btn-success btn-lg btn-block mt-2">Start
                        Voting
                    </button>
                </div>
                <div class="mt-5" bis_skin_checked="1">
                    <h2>End Voting</h2>
                    <button onclick="endVoting()" type="button" class="btn btn-success btn-lg btn-block mt-2">End
                        Voting
                    </button>
                </div>
                <div class="mt-5" bis_skin_checked="1">
                    <h2>Cast Vote</h2>
                    <input type="text" id="voter-address-vote" placeholder="Voter Address" class="form-control">
                    <input type="text" id="candidate-id" placeholder="Candidate ID" class="form-control mt-2">
                    <button onclick="castVote()" type="button" class="btn btn-success btn-lg btn-block mt-2">Vote
                    </button>
                </div>
                <div class="mt-5" bis_skin_checked="1">
                    <h2>Candidates</h2>
                    <button onclick="getCandidates()" type="button" class="btn btn-success btn-lg btn-block mt-2">Get
                        Candidates
                    </button>
                    <ul id="candidate-list"></ul>
                </div>
            </div>

        </div>
    </div>
</div>

    <script>
        async function registerVoter() {
            const address = document.getElementById('voter-address').value;
            const response = await fetch('/register_voter/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ 'address': address })
            });
            const data = await response.json();
            alert(data.status);
        }

        async function startVoting() {
            const response = await fetch('/start_voting/', { method: 'POST' });
            const data = await response.json();
            alert(data.status);
        }
        async function endVoting() {
            const response = await fetch('/end_voting/', { method: 'POST' });
            const data = await response.json();
            alert(data.status);
        }

        async function castVote() {
            const address = document.getElementById('voter-address-vote').value;
            const candidateId = document.getElementById('candidate-id').value;
            const response = await fetch('/cast_vote/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ 'address': address, 'candidate_id': candidateId })
            });
            const data = await response.json();
            alert(data.status);
        }

        async function getCandidates() {
            const response = await fetch('/get_candidates/');
            const candidates = await response.json();
            const candidateList = document.getElementById('candidate-list');
            candidateList.innerHTML = '';
            candidates.forEach(candidate => {
                const li = document.createElement('li');
                li.textContent = `ID: ${candidate.id}, Name: ${candidate.name}, Votes: ${candidate.voteCount}`;
                candidateList.appendChild(li);
            });
        }
    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
